body {
    background-color: brown;
  }

h1{
    color: white;
    font: status-bar;
}

p{
    color: white;
    font: status-bar;
}

a{
    color: chartreuse;
    font: menu;
}

a:visited{
    color: blue;
}

a:valid{
    color: palegoldenrod;
}

a:hover {
    color: hotpink;
  }

h1:valid{
    color: aqua;
}