<style>

    .line {
    display: block;
    border: none;
    color: #333;
    background: transparent;
    border-bottom: 1px dotted black;
    padding: 5px 2px 0 2px;
    }

    .line:focus { 
    outline: none;
    border-color: #51CBEE;
    }
    table,
    td {

        padding: 15px;

        border: 1px solid black;

        border-collapse: collapse;

    }

    th {
        color: black;

        font: normal;

        border: 1px solid black;

        text-align: center;
    }

</style>


<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heimgehzeiten</title>
        <script>
            var Tag= document.getElementById("")
        </script>
    </head>
    <body>
        <h1>Gehzeiten eintragen:</h1>
        <table border="1">
            <tr>
                
                <th>Tag</th>
                <th>Abholung</th>
                <th>Zeit</th>
            </tr>
            <tr>
                <td align="left">Montag</td>
                <td align="left"><input type="radio" name="montagZt" value="montagAb"> wird abgeholt</input>
                <td align="left">
                    <div align="left">
                        <input type="radio" name="montagZt" value="montagZt"> geht allein um: </input>
                        <input type="time" name="montagZtIn" value="montagZtIn"/>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>