<!DOCTYPE html>
<html>
    <head>
        <title>Anmelden</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Anmelden</h1>
        <p></p><br>
        <p></p><br>
        <p>Hier können sie Schüler als 'Angemeldet' eintragen</p>
        <fieldset>
            <form method="POST">
                Karte:<br>
                <input type="text" name="id">
                <br>
                <br>
                <input type="submit">
            </form>
        </fieldset>
    </body>
</html>