<!DOCTYPE html>
<style>
    a:visited{
        color: blue;
    }
    a{
        color: blue;
    }
</style>
<html>
    <head>
        <title>Schüler Löschen</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Wiilkommen, Hier können sie Schüler löschen</h1>
        <p></p><br>
        <p></p><br>
        <fieldset>
            <form method="POST">
                Karten Nummer:<br>
                <input type="text" name="id"><br>
                <p></p><br>
                <input type="submit" value="Senden">
            </form>
        </fieldset>
    </body>
</html>