<!DOCTYPE html>

<style>
    table,
    td {

        padding: 15px;

        border: 1px solid black;

        border-collapse: collapse;

    }

    th {
        color: black;

        font: normal;

        border: 1px solid black;

        text-align: center;
    }

</style>




<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
     <tr>
      {%- for hd in ds %}
         <th>{{ hd }}</th>
      {%- endfor %}
    </tr>

     <tr>
     {%- for row in obj %}
        <tr>
        {%- for item in row %}
           <td>{{item}}</td>
        {%- endfor %}
        </tr>
     {%- endfor %}
    </tr>
     </table>
  </body>
</html>
