<!DOCTYPE html>
<style>
    a:visited{
        color: blue;
    }
    a{
        color: blue;
    }
</style>
<html>
    <head>
        <title>Fertig</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Der erziehr solte in wenigen sekunden registriert sein</h1>
        <a href="ea">Möchten sie noch ein erziehr anmelden?</a><br>
        <p></p><br>
        <a href="/index">Zurück</a>
    </body>
</html>
