<!DOCTYPE html>
<style>
    a:visited{
        color: blue;
    }
    a{
        color: blue;
    }
</style>
<script>
{{from app import cur}}
{{cur.execute('SELECT * FROM sonderab')}}

setTimeout(function(){ alert({{cur.fetchall()}}); }, 3000);
</script>
<html>
    <head>
        <title>Online-Portall</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>Willkommen zum Online-Portall</h1>
        <fieldset width=400>
            <h3><i>Inhaltsverzeichniss</i></p>
            <a href="Form">1. Schüler Registrieren</a><br>
            <a href="Del">2. Schüler Löschen</a><br>
            <a href="ea">3. Erzier Registrieren</a><br>
            <a href="an">4. Schüler Als Anmelden eintragen</a><br>
            <a href="ab">5. Schüler Als Abgemeldet eintragen</a><br>
            <a href="sonder">6. Sonderabholzeiten</a>
        </fieldset>
        <noscript>Dammit manche funktionen functionieren brauchen Sie JavaScript (Aber ihr browser unterstützt es nicht)</noscript>
    </body>
</html>
