<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Einloggen</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Bitte loggen sie sich ein</h1>
        <p></p><br>
        <p></p><br>
        <form method="POST">
            <fieldset>
                Benutzername:<br>
                <input type="text" name="uname">

                <p></p><br>
                Passwort:<br>
                <input type="password" name="pass">
                <p></p><br>
                <input type="submit" value="Senden"> ---------------------- <a href="/reset">Passwort vergessen</a>

            </fieldset>
        </form>
    </body>
</html>