<!DOCTYPE html>
<html>
    <head>
        <title>Online daten senden</title>
    </head>
    <body>
        <h1>Willkommen, Hier kann jeder online schüler Registrieren</h1>
        <p></p><br>
        <p></p><br>
        <p>Bitte geben sie die daten unten an:</p>
        <form method="POST">
                <fieldset>
                        <legend>Personale information:</legend>
                    Name:<br>
                    <input type="text" name="firstname"><br>
                    <p></p><br>
                    Nachname:<br>
                    <input type="text" name="lastname"><br>
                    <p></p><br>
                    <label>Geburtsdatum:</label><br><input type="date" name="dofb"><br>
                    <p></p><br>
                    Karten Number:<br>
                    <input type="text" name="id"><br>
                    <p></p><br>
                    <input type="submit" value="Senden">
                </fieldset>
        </form>
    </body>
</html>