<!DOCTYPE html>

<style>
    table,
    td {

        padding: 15px;

        border: 1px solid black;

        border-collapse: collapse;

    }

    th {
        color: black;

        font: normal;

        border: 1px solid black;

        text-align: center;
    }

</style>

<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einzelne Schüler daten ansehen</title>
  </head>
  <body>

    <h1 style="font-family: &quot;Encode Sans script=all rev=2&quot;, &quot;Adobe Blank&quot;; font-weight: 100; font-style: normal;" >Einzelne Schüler daten ansehen</h1>

    <form method="POST">
      Karten Nummer:<br>

      <input type="number" name="Idc">

      <input type="submit" value="Senden">

    </form>


  </body>
</html>
