<!DOCTYPE html>
<style>
</style>
<html>
    <head>
        <title>Sonderabholzeiten</title>
    </head>
    <body>
        <h1>Sonderabholzeiten</h1>
        <p></p><br>

        <p>Sonderabholzeiten, Hier können sie abholzeiten eintragen die nur für heute gelten</p>

        <form action="/sonder" method="POST">
        
            Karten Nummer:<br>
            <input type="number" name="id">
            <p></p><br>
            Zeit:<br>
            <input type="time">
        </form>

    </body>
</html>