<!DOCTYPE html>
<style>

</style>
<html>
    <head>
        <title>Neue Erziehr anmelden</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Hier können sie neue erziehr anmelden</h1>
        <p></p><br>
        <p></p><br>
        <p>Bitte füllen sie das formular unten aus:</p>
        <fieldset>
            <form method="POST">
                Name:<br>
                <input type="text" name="name">
                <p></p><br>
                Nachname:<br>
                <input type="text" name="lname">
                <p></p><br>
                Email:<br>
                <input type="email" name="email">
                <p></p><br>
                Neues Benutzername:<br>
                <input type="text" name="uname">
                <p></p><br>
                Passwort:<br>
                <input type="password" name="pass" id="pass">
                <p></p><br>
                <input type="submit" value="Senden">


            </form>
        </fieldset>
    </body>
</html>